{% if not user %}

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-offset-4">
        <ul class="nav nav-pills">
          <li class="active"><a href="#signin" data-toggle="pill">Sign In</a></li>
          <li><a href="#register" data-toggle="pill">Register</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active fade in" id="signin">
      <div class="row">
        <div class="col-md-10">
          <br />
          {% partial __SELF__ ~ '::signin' %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="register">
      <div class="row">
        <div class="col-md-10">
          <br />
          {% partial __SELF__ ~ '::register' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

    {% partial __SELF__ ~ '::update' %}

    {% partial __SELF__ ~ '::deactivate_link' %}

{% endif %}
