<div class="signin_login">
  <div class="row signin_row-sm-offset-3 signin_socialButtons">

    {% for name, link in social_login_links %}
      <div class="col-xs-4 col-sm-2">
        <a href="{{ link }}" class="btn btn-lg btn-block signin_btn-{{ name|lower }}">
          <i class="fa fa-{{ name|lower }} visible-xs" aria-hidden="true"></i>
          <span class="hidden-xs">{{ name }}</span>
        </a>
      </div>
    {% endfor %}

    <br /><br />

  <div class="row signin_row-sm-offset-3 signin_loginOr">
    <div class="col-xs-12 col-sm-6">
      <hr class="signin_hrOr" />
      <span class="signin_spanOr">or</span>
    </div>
  </div>

  <div class="row signin_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
      <form class="signin_loginForm"
          data-request="onSignin">

          <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input
                    name="login"
                    type="text"
                    class="form-control"
                    placeholder="{{ loginAttributeLabel }}"
                    required="required" />
              </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
              <input
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required="required" />
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </div>

  <br />

  <div class="row signin_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <p>
        <a href="/user/reset-password" target="_blank">Forgot Password?</a>
      </p>
    </div>
  </div>
</div>
